body {
  font-size: 14px;
  line-height: 26px;
  color: #000;
  font-weight: bold;
  font-family: 'PT Sans Narrow', 'Arial', sans-serif;
  text-transform: uppercase;
  background-color: #f7f4f1;
}

h1 {
  font-size: 30px;
  line-height: 42px;
  color: #000;
  font-weight: bold;
  text-transform: uppercase;
}

h2 {
  font-size: 24px;
  line-height: 26px;
  color: #000;
  font-weight: bold;
  text-transform: uppercase;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

a {
  text-decoration: none;
}

.main-header {
  background-color: #000;
}

.container {
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
}

.content {
  margin-bottom: 49px;
}

.logo {
  padding-top: 24px;
  padding-left: 20px;
  float: left;
  width: 115px;
  padding-right: 15px;
}

.main-navigation {
  float: left;
  width: 650px;
}

.main-navigation li {
  display: inline-block;
  font-size: 16px;
  line-height: 20px;
  vertical-align: top;
}

.main-navigation a {
  display: block;
  padding: 26px 19px;
  color: #ffffff;
  text-decoration: none;
}

.main-navigation ul {
  margin: 0;
  padding: 0;
}

.main-navigation li a {
  color: #fff;
}

.main-navigation a:hover {
  background: #242424;
}

.login {
  position: relative;
  display: inline-block;
  padding: 25px 30px;
  padding-left: 50px;
  font-size: 16px;
  line-height: 20px;
  vertical-align: top;
  color: #ffffff;
  padding-right: 20px;
}

.login:hover {
  background-color: #242424;
}

.login::before {
  content: "";
  position: absolute;
  top: 23px;
  left: 16px;
  width: 25px;
  height: 25px;
  background-image: url(../img/bordershop-sprite.png);
  background-position: 48px -27px;
  opacity: 0.3;
}

.user-block {
  float: right;
  max-width: 140px;
}

.user-block a {
  color: #fff;
}

.main-header {
  margin-bottom: 50px;
  color: #ffffff;
  background-color: #000000;
}

.main-navigation .menu-active {
  position: relative;
  background-color: none;
}

.main-navigation .menu-active::after {
  content: "";
  position: absolute;
  height: 5px;
  background-color: #fff;
  right: 20px;
  bottom: 0;
  left: 20px;
}

.main-navigation .menu-active a:hover {
  background: none;
}

.content-wrapper {
  width: 940px;
  margin: 0 auto;
  padding: 0 10px
}

.breadcrumbs {
  margin: 0;
  padding: 0;
  list-style: none;
  margin-top: -7px;
}

.content-head {
  margin-bottom: 27px;
}

.breadcrumbs li {
  line-height: 24px;
  position: relative;
  display: inline-block;
  padding-right: 40px;
}

.breadcrumbs li::after {
  content: "";
  position: absolute;
  width: 8px;
  height: 8px;
  background-color: #000000;
  top: 9px;
  right: 16px;
  transform: rotate(45deg);
}

.breadcrumbs a {
  color: #000;
}

.breadcrumbs .active {
  color: aba9a7;
}

.breadcrumbs .active::after {
  display: none;
}

.breadcrumbs a:hover {
  text-decoration: underline;
}

.sidebar {
  float: left;
  width: 240px;
}

.search-result-wrapper {
  float: right;
  width: 700px;
}

.search-result {
  text-transform: capitalize;
  margin-bottom: 45px;
}

.checkbox-item label {
  margin-left: 45px;
}

.checkbox-item label:hover {
  color: #663d15
}

.checkbox-item input[type="checkbox"] {
  display: none;
}

.checkbox-item {
  position: relative;
  cursor: pointer;
  padding-top: 8px;
  padding-bottom: 3px;
}

input[type="checkbox"]+label .checkbox-indicator {
  position: absolute;
  width: 15px;
  height: 15px;
  bottom: 6px;
  left: 1px;
  border: 2px solid #000000;
}

input[type="checkbox"]:checked+label .checkbox-indicator::before, input[type="checkbox"]:checked+label .checkbox-indicator::after {
  content: "";
  position: absolute;
  top: 7px;
  left: 0;
  width: 15px;
  height: 2px;
  background-color: #000000;
  cursor: pointer;
}

input[type="checkbox"]:checked+label .checkbox-indicator::before {
  transform: rotate(45deg);
}

input[type="checkbox"]:checked+label .checkbox-indicator::after {
  transform: rotate(-45deg);
}

.last-checkbox {
  margin-bottom: 44px;
}

.checkbox-radio {
  line-height: 18px;
  padding: 10px 45px;
}

.checkbox-radio label:hover {
  color: #663d15
}

.checkbox-radio input[type="radio"] {
  display: none;
}

.checkbox-radio label {
  position: relative;
  cursor: pointer;
}

input[type="radio"]+label .radio-indicator {
  position: absolute;
  width: 16px;
  height: 16px;
  background-color: inherit;
  border-radius: 50%;
  border: 2px solid black;
  top: 1px;
  left: -44px;
}

input[type="radio"]:checked+label .radio-indicator::after {
  content: "";
  position: absolute;
  top: 3px;
  left: 3px;
  width: 10px;
  height: 10px;
  background-color: #000000;
  border-radius: 50%;
  cursor: pointer;
}

input[type="submit"] {
  background-color: black;
  border: none;
  padding: 11px 26px;
  color: white;
  margin: 40px 0px;
  font-size: 13px;
  line-height: 18px;
}

.catalog-item {
  box-shadow: 0 0 2px 1px #000;
  margin-top: 24px;
  width: 220px;
  display: inline-block;
  vertical-align: top;
  background-color: #fff;
  margin-left: 9px;
  margin-right: 8px;
}

.catalog-item:nth-child(3n) {
  margin-right: 0;
}

.catalog-item:nth-child(3n-2) {
  margin-left: 0;
}

.name-product {
  color: #000;
  margin-top: 5px;
  padding-left: 18px;
  line-height: 18px;
}

.pagelinks a {
  display: inline-block;
  width: 32px;
  height: 31px;
  text-align: center;
  vertical-align: baseline;
  background-color: #000;
  color: #fff;
  padding: 6px 6px;
  margin-right: 3px;
}

.pagelinks a:hover {
  background-color: #663d15;
}

.page-active {
  color: #000;
  display: inline-block;
  width: 33px;
  height: 31px;
  background-color: #ffffff;
  text-align: center;
  padding: 6px 6px;
  margin-right: 4px;
}


/* catalog-item*/

.main-photo {
  margin-bottom: 13px;
}

.photo-product {
  float: left;
  width: 470px;
  margin-right: 0px;
  margin-left: 10px;
  margin-bottom: 20px;
}

.photo-product img {
  box-shadow: 0 0 5px #000;
}

.additional-foto a {
  width: 140px;
  margin-right: 18px;
}

.product-description {
  padding-top: 16px;
  float: right;
  width: 399px;
}

.provider-info {
  padding-bottom: 15px;
}

.product-article {
  float: right;
  padding-right: 20px;
}

.description {
  padding-bottom: 23px;
  line-height: 24px;
}

.product-buy {
  background-color: #e5e5e5;
  width: 187px;
  margin-bottom: 61px;
}

.product-buy span {
  display: inline-block;
  text-align: center;
}

.rate {
  padding: 8px 30px;
  padding-right: 21px;
  min-width: 55px;
  background-color: inherit;
}

.buy {
  color: #fff;
  padding: 8px 18px;
  background-color: #000;
}

.buy:hover {
  background-color: #663d15;
}

.buy a {
  color: #fff;
}

.catalog-item .product-buy {
  margin-left: 19px;
  margin-bottom: 16px;
  margin-top: -1px;
}

.set-complete h2 {
  line-height: 30px;
  margin-bottom: 27px
}

.set-complete ul {
  margin: 0;
  padding: 0;
}

.set-complete li {
  line-height: 24px;
  position: relative;
  list-style: none;
  padding-left: 21px;
}

.set-complete li::after {
  content: "";
  position: absolute;
  width: 8px;
  height: 8px;
  background-color: #000000;
  top: 8px;
  left: 2px;
  transform: rotate(45deg);
}


/* footer*/

.main-footer {
  line-height: 24px;
  background-color: #1f1f1f;
  color: #fff;
  margin-top: 22px;
}

.main-footer a {
  color: #fff;
}

.footer-wrapper {
  width: 960px;
  margin: 0 auto;
  padding: 0 10px;
  padding-top: 55px;
  padding-bottom: 40px;
}

.footer-contacts {
  float: left;
  width: 320px;
  margin-right: 60px;
  padding-left: 13px;
}

.footer-contacts a {
  text-decoration: underline;
}

.footer-contacts a:hover {
  text-decoration: none;
}

.footer-social {
  text-align: center;
  float: left;
  width: 180px;
  margin-top: -14px;
}

.social-btn {
  display: inline-block;
  width: 43px;
  height: 43px;
  margin: 0 2px;
  font-size: 0;
  vertical-align: top;
  text-decoration: none;
  background-image: url(../img/bordershop-sprite.png);
}

.social-btn-vk {
  background-position: -47px -4px;
}

.social-btn-fb {
  background-position: -96px -4px;
}

.social-btn-inst {
  background-position: -145px -4px;
}

.social-btn-vk:hover {
  background-position: -47px -67px;
}

.social-btn-fb:hover {
  background-position: -96px -67px;
}

.social-btn-inst:hover {
  background-position: -145px -67px;
}

.footer-copyright {
  text-align: center;
  float: right;
  max-width: 180px;
  margin-top: -13px;
}

.footer-copyright p {
  margin: 0;
  margin-bottom: 15px;
  text-align: center;
}

.footer-copyright .btn {
  margin-right: 10px;
}

.btn {
  display: inline-block;
  margin-right: 16px;
  padding: 10px 29px;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  font-family: "PT Sans Narrow", "Arial", sans-serif;
  vertical-align: top;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
  background-color: #000000;
  border: none;
  cursor: pointer;
}

.btn:hover, .btn:active {
  background-color: #663d15;
}

.footer-copyright .btn:hover {
  color: #000000;
  background-color: #ffffff;
}
