body{
  font-size: 14px;
  line-height: 26px;
  color: #000;
  font-weight: bold;
  font-family: 'PT Sans', 'Arial', sans-serif;
  text-transform:uppercase;
}
h1 {
  font-size: 30px;
  line-height: 26px;
  color: #000;
  font-weight: bold;
  text-transform:uppercase;
}
h2 {
  font-size: 24px;
  line-height: 26px;
  color: #000;
  font-weight: bold;
  text-transform:uppercase;
}
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
.container{
  width: 940px;
  margin: 0 auto;
}
.logo{
  float: left;
  width: 115px;
}
.main-navigation{
  float: left;
  width: 540px;
}
.user-block{
  width: 120px;
  float: right;
}
.content-wrapper{
  width: 940px;
  margin: 0 auto;
}
.sidebar{
  float: left;
  width: 170px;
}
.search-result-wrapper{
  float: right;
  width: 700px;
}
.catalog-item{
  width: 220px;
  display: inline-block;
  vertical-align: top;
}
